<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isOnTrack</key>
		<true/>
		<key>id</key>
		<integer>1</integer>
		<key>imageUrl</key>
		<string>sakubun</string>
		<key>title</key>
		<string>読書感想文</string>
		<key>description</key>
		<string>本を読んで感想を作文用紙４枚書く。</string>
		<key>priority</key>
		<integer>0</integer>
		<key>todos</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>content</key>
				<string>何を読むか決める</string>
				<key>isCompleted</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>content</key>
				<string>本を買いに行く</string>
				<key>isCompleted</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>content</key>
				<string>読む</string>
				<key>isCompleted</key>
				<false/>
			</dict>
            <dict>
                <key>id</key>
                <string>4</string>
                <key>content</key>
                <string>書く</string>
                <key>isCompleted</key>
                <false/>
            </dict>
		</array>
	</dict>
	<dict>
		<key>isOnTrack</key>
		<false/>
		<key>id</key>
		<integer>2</integer>
		<key>imageUrl</key>
		<string>drill</string>
		<key>title</key>
		<string>算数ドリル</string>
		<key>description</key>
		<string>算数のドリル30ページを8月20日までに完了させる。</string>
		<key>priority</key>
		<integer>5</integer>
		<key>todos</key>
		<array>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>content</key>
				<string>予定を立てる</string>
				<key>isCompleted</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>content</key>
				<string>8月5日に進捗状況を確認する</string>
				<key>isCompleted</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>content</key>
				<string>終わらなかったときの次の予定を立てる</string>
				<key>isCompleted</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>content</key>
				<string>お兄ちゃんにサポートをお願いする</string>
				<key>isCompleted</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
